body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: times;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1{
    text-align: center;
    font-size: 280%;
    margin-top: 0%;
}

a{
    color: white;
    text-decoration: none;
}

#Referência-btn{
    border: 2px solid rgb(163, 86, 22);
    padding: 10px;
    border-radius: 15px;
    margin-left: 40%;
    margin-right: 40%;
}

#Referência-btn:hover{
    background-color: rgb(163, 86, 22);
    color: white;
    transition: 0.5s all;
}

iframe{
    height: 458px;
    width: 65%;
    margin-left: 18%;
    margin-top: -1%;
}